

.top-box
{
    text-align: center;
    margin-bottom: 50px;
}

.mid-box
{
    text-indent: 20%;
}
.mid-box :first-child
{
    margin-top: 20px;
}

.bottom-box
{
    text-align: center;
    margin-top: 50px;
}