.top-box
{
    text-align: center;
    margin-bottom: 50px;
}

.mid-box
{
    text-align: center;
    margin-bottom: 30px;
}

.con-box
{
    text-align: left;
    position: relative;
    left: 20%;
    width: 60%;
}

.bottom-box
{
    text-align: center;
    margin-top: 50px;
}